APP_NAME=GuGram
APP_BUNDLE_ID=org.db77cb89e9e44b97.Telegram
APP_SPECIFIC_URL_SCHEME=gg

GLOBAL_CONSTANTS = APP_CONFIG_IS_INTERNAL_BUILD=true APP_CONFIG_IS_APPSTORE_BUILD=false APP_CONFIG_APPSTORE_ID=0 APP_SPECIFIC_URL_SCHEME="\"$(APP_SPECIFIC_URL_SCHEME)\""
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS) APP_CONFIG_API_ID=36928128 APP_CONFIG_API_HASH="\"e6fed1806dcd64eb57c0adde5ce4cf15\"" APP_CONFIG_HOCKEYAPP_ID="\"\""
